{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <form method='POST'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New password:</label>
            <input name='new_password1' type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">New password confirmation:</label>
            <input name='new_password2' type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <input class='btn btn-secondary shadow' type="submit" value='Change my password'>
    </form>
</div>
{% endblock content %}