{% extends 'base.html' %}

{% block content %}
    <div class='container my-5'>
        <form method='POST' action="{% url 'password_change' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            <input class='btn btn-outline-primary' type="submit">
        </form>
    </div>
{% endblock content %}